<header class="clearfix">
  <a href="http://foundedinireland.com" class="no-link">Founded in Ireland</a>

  <h1>Founded in Ireland - The most innovative startups in Ireland</h1>
  <span>Ireland has a fast growing startup scene.
    Inspired by <a href="http://foundedinholland.com" target="_blank">Founded in Holland</a>, this list is dedicated to promote Irish innovative startups that promise to inspire.</span>
  <span class="apply">Want to join this list? <a href="#join">Submit&nbsp;your&nbsp;Irish&nbsp;startup.</a></span>

</header>
